<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Benutzerverwaltung.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Benutzerverwaltung.Settings>
            <setting name="FontFamily" serializeAs="String">
                <value>Consolas</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="WidthShort" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="WidthMedium" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="WidthLong" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="HeightShort" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="HeightMedium" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="HeightLong" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="ShowGridLines" serializeAs="String">
                <value>False</value>
            </setting>
        </Benutzerverwaltung.Settings>
    </userSettings>
</configuration>